.wrapper {
  display: grid;
  background-color: rgb(218, 206, 219);
  gap: 20px 20px;

  /* grid-template-columns: 1fr 10px 2fr 2fr;
  grid-template-rows: 1fr minmax(200px, 400px) 1fr; 
   grid-template-area:*/
  grid-template:
    "header header  header header" 50px
    "aside  . main main " minmax(200px, 500px)
    "footer footer footer footer" 50px/ 0.5fr 10px 2fr 2fr;
  /* //margin-top: 40px; */
}
.wrapper > * {
  /* //background-color: rgb(221, 228, 239); */
  /* min-width: 100px;
    min-height: 100px; */
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

header {
  grid-area: header;
  background-color: rgb(204, 209, 221);
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 0;
}

main {
  grid-area: main;
  background-color: rgb(221, 228, 239);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}
main a:hover {
  text-decoration: underline;
}

aside {
  grid-area: aside;
  background-color: rgb(194, 200, 213);
}

footer {
  grid-area: footer;
  background-color: rgb(196, 199, 209);
}

.active {
  color: var(--color-active);
  cursor: default;
}
